* {
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
}

#header {
	
}

h1 {
	font-family: helvetica;
	margin-top: 15px;
	margin-bottom: 20px;
}

#grid {
	width: 1000px;
	height: 600px;
	border: 0;
	padding: 0;
	font-size: 0;
	margin-left: auto;
	margin-right: auto;
}

.box {
	border: 1px solid black;
	height: 20px;
	width: 20px;
	background-color: white;
	display: inline-block;
}

button {
	background-color: #4387fd;
	display: inline-block;
	margin: 2px auto;
	color: white;
	font-size: 10px;
	padding: 5px;
	clear: both;
	margin-bottom: 10px;
	margin-right: 10px;
}
